.radio {
    height: 10px;
    width: 10px;

    cursor: pointer;
   border-radius: 50%;
   outline: none;
   background: #335533;

}

.radio:focus {
    border: 2px solid #cc99ff;
}

.option {

    color: #003300;
    background:#99ff99 ;
}

.radio:checked {
    background:  #55ffff;
   
}

.radio:hover {
   border: 2px solid #cc99ff;
}
.label {
    cursor: pointer;
}